/.phpunit.cache
/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/public/vendor/horizon
/public/flags
/storage/*.key
/vendor
.env
.env.backup
*.lock
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.xml
public/js/app.js
.php-cs-fixer.php
_ide_helper.php
_ide_helper_models.php
/Modules/PortalClient
/public/js/common.js
/public/css/app.css
/public/build
